.text-center {
    text-align: center;
    margin: auto;
 

}

.custom-nav{
  background-color: #3c023c;

}
.custom-nav-text a{
  color: #706f0f;
  font-weight: bold;
  
 
}
.custom-nav-text{
  text-align: center;
  margin-left:20px;
 
}
.custom-nav-heading{
  color:white;
  margin-left:20px;

}

.custom-heading{
  color:#700f0f;
}

.text-margin {
    margin: 60px;

}
.width-60{
    width:60%;
    margin:auto;

}
.width-20{
    width:100px;
    margin:auto;
}
td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }

  .no-align{
      text-align: left;
  }

  img{
    width:100%;
    height: 300px;
  }
  .box-design{

    background-color: #a34646;
    color:white;
   width:400px;
    padding:10px;
    margin: 10px;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 9px 0px rgba(0,0,0,1);

  }



 






  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #3a4a15;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #3a4a15;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #29350f;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }



  